@inject MarkdownBlog Blog
@{


    <div id="default-carousel" class="relative bg-backgroundTertiary mx-[-24px] md:block hidden" data-carousel="slide">
        <div class="relative overflow-hidden h-[460px] py-XL">

            @{

            //item one
                <div class="hidden duration-700 ease-in py-XL items-center flex" data-carousel-item>
                    <div class="grid grid-cols-2 gap-XXL px-[50px] mx-[50px] border-x border-borderSecondary">
                        <div class="mb:col-span-2">
                            <div class="sm:mx-0">
                                <a href="#">
                                    <img src="./img/slider-img.png" alt="Cover Image for" class="shadow-sm border border-borderSecondary rounded-L object-cover">
                                </a>
                            </div>
                        </div>
                        <div class="mb:col-span-2 py-M pl-[0px] pr-M grid grid-cols-1 justify-between">
                            <div class="flex flex-grow gap-M h-[48px] min-w-[293px]">
                                <img src="./img/profile.png" class="h-[48px] w-[48px] rounded-full">
                                <div class="flex flex-col justify-between min-w-[229px]">
                                    <span class="text-Medium text-textPrimary">John Smith</span>
                                    <div class="flex justify-between items-end">
                                        <span class="text-Regular text-textSecondary">31 Dec 2023</span>
                                        <span class="text-Regular text-textSecondary">5 min read</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col gap-[32px] justify-end">
                                <p class="text-H4 text-textPrimary">
                                    Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                                </p>
                                <a class="" href="about#">
                                    <div class="flex items-center gap-S">
                                        <span class="text-Medium text-brandPrimary">Read the article</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="relative my-auto h-[16px] w-[16px]" viewBox="0 0 16 17" fill="none">
                                            <path d="M7.99996 3.16663L7.05996 4.10663L10.78 7.83329H2.66663V9.16663H10.78L7.05996 12.8933L7.99996 13.8333L13.3333 8.49996L7.99996 3.16663Z" fill="#F37441" />
                                        </svg>
                                    </div>
                                </a>
                                <ul class="flex flex-wrap gap-M items-end">
                                    <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[75px] text-center items-center flex">Tag 1</li>
                                    <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[75px] text-center items-center flex">Tag 2</li>
                                    <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[75px] text-center items-center flex">Tag 3</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            //item two
                <div class="hidden duration-700 ease-in py-XL items-center flex" data-carousel-item>
                    <div class="grid grid-cols-2 gap-XXL px-[50px] mx-[50px] border-x border-borderSecondary">
                        <div class="mb:col-span-2">
                            <div class="sm:mx-0">
                                <a href="#">
                                    <img src="./img/slider-img.png" alt="Cover Image for" class="shadow-sm border border-borderSecondary rounded-L object-cover">
                                </a>
                            </div>
                        </div>
                        <div class="mb:col-span-2 py-M pl-[0px] pr-M grid grid-cols-1 justify-between">
                            <div class="flex flex-grow gap-M h-[48px] min-w-[293px]">
                                <img src="./img/profile.png" class="h-[48px] w-[48px] rounded-full">
                                <div class="flex flex-col justify-between min-w-[229px]">
                                    <span class="text-Medium text-textPrimary">John Smith</span>
                                    <div class="flex justify-between items-end">
                                        <span class="text-Regular text-textSecondary">31 Dec 2023</span>
                                        <span class="text-Regular text-textSecondary">5 min read</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col gap-[32px] justify-end">
                                <p class="text-H4 text-textPrimary">
                                    Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                                </p>
                                <a class="" href="about#">
                                    <div class="flex items-center gap-S">
                                        <span class="text-Medium text-brandPrimary">Read the article</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="relative my-auto h-[16px] w-[16px]" viewBox="0 0 16 17" fill="none">
                                            <path d="M7.99996 3.16663L7.05996 4.10663L10.78 7.83329H2.66663V9.16663H10.78L7.05996 12.8933L7.99996 13.8333L13.3333 8.49996L7.99996 3.16663Z" fill="#F37441" />
                                        </svg>
                                    </div>
                                </a>
                                <ul class="flex flex-wrap gap-M items-end">
                                    <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[75px] text-center items-center flex">Tag 1</li>
                                    <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[75px] text-center items-center flex">Tag 2</li>
                                    <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[75px] text-center items-center flex">Tag 3</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                //item three
                <div class="hidden duration-700 ease-in py-XL items-center flex" data-carousel-item>
                    <div class="grid grid-cols-2 gap-XXL px-[50px] mx-[50px] border-x border-borderSecondary">
                        <div class="mb:col-span-2">
                            <div class="sm:mx-0">
                                <a href="#">
                                    <img src="./img/slider-img.png" alt="Cover Image for" class="shadow-sm border border-borderSecondary rounded-L object-cover">
                                </a>
                            </div>
                        </div>
                        <div class="mb:col-span-2 py-M pl-[0px] pr-M grid grid-cols-1 justify-between">
                            <div class="flex flex-grow gap-M h-[48px] min-w-[293px]">
                                <img src="./img/profile.png" class="h-[48px] w-[48px] rounded-full">
                                <div class="flex flex-col justify-between min-w-[229px]">
                                    <span class="text-Medium text-textPrimary">John Smith</span>
                                    <div class="flex justify-between items-end">
                                        <span class="text-Regular text-textSecondary">31 Dec 2023</span>
                                        <span class="text-Regular text-textSecondary">5 min read</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col gap-[32px] justify-end">
                                <p class="text-H4 text-textPrimary">
                                    Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                                </p>
                                <a class="" href="about#">
                                    <div class="flex items-center gap-S">
                                        <span class="text-Medium text-brandPrimary">Read the article</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="relative my-auto h-[16px] w-[16px]" viewBox="0 0 16 17" fill="none">
                                            <path d="M7.99996 3.16663L7.05996 4.10663L10.78 7.83329H2.66663V9.16663H10.78L7.05996 12.8933L7.99996 13.8333L13.3333 8.49996L7.99996 3.16663Z" fill="#F37441" />
                                        </svg>
                                    </div>
                                </a>
                                <ul class="flex flex-wrap gap-M items-end">
                                    <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[75px] text-center items-center flex">Tag 1</li>
                                    <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[75px] text-center items-center flex">Tag 2</li>
                                    <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[75px] text-center items-center flex">Tag 3</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            }


        </div>
    </div>


}