<footer class="relative px-5 pt-5">
    <div class="mx-auto px-4" style="color:#0F0F0F;">
        <div class="grid md:grid-cols-3 grid-cols-1">
            <div class="col-span-1 md:mx-auto">
                <img src="./img/logo.png" />
                <h3 class="text-lg mt-5 fonat-semibold text-white flex">
                    <img src="./img/phone-logo.png" class="w-5 h-5 mt-1 me-1" />
                    1234567890
                </h3>
                <h3 class="text-lg mt-0 mb-2 text-white flex">
                    <img src="./img/mail-logo.png" class="w-5 h-5 mt-1 me-1" />
                    example@gmail.com
                </h3>
            </div>

            <div class="md:col-span-2 col-span-1 md:mx-auto">
                <div class="items-top mb-6 grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5">

                    <div class="md:px-4">
                        <span class="mb-2" style="font-size:18px; color:#E6EFF4;">Prodcuts</span>
                        <ul class="list-unstyled mt-2">
                            <li>
                                <span class="block pb-1" style="font-size:16px; color:#CCCCCC;">Lakehouse</span>
                            </li>
                            <li>
                                <span class=" block pb-1" style="font-size:16px; color:#CCCCCC;">Unified Security</span>
                            </li>
                            <li>
                                <span class=" block pb-1" style="font-size:16px; color:#CCCCCC;">Datalake</span>
                            </li>
                            <li>
                                <span class=" block pb-1" style="font-size:16px; color:#CCCCCC;">Integration</span>
                            </li>
                            <li>
                                <span class=" block pb-1" style="font-size:16px; color:#CCCCCC;">Discovery</span>
                            </li>
                            <li>
                                <span class=" block pb-1" style="font-size:16px; color:#CCCCCC;">AI/Ml</span>
                            </li>
                        </ul>
                    </div>

                    <div class="md:px-4">
                        <span class="mb-2" style="font-size:18px; color:#E6EFF4;">Developers</span>
                        <ul class="list-unstyled mt-2">
                            <li>
                                <span class="block pb-1" style="font-size:16px; color:#CCCCCC;">Documention</span>
                            </li>
                            <li>
                                <span class=" block pb-1" style="font-size:16px; color:#CCCCCC;">Integration</span>
                            </li>
                            <li>
                                <span class=" block pb-1" style="font-size:16px; color:#CCCCCC;">Datalake</span>
                            </li>
                            <li>
                                <span class=" block pb-1" style="font-size:16px; color:#CCCCCC;">Changelog</span>
                            </li>
                            <li>
                                <span class=" block pb-1" style="font-size:16px; color:#CCCCCC;">Community</span>
                            </li>
                        </ul>
                    </div>

                    <div class="md:px-4">
                        <span class="mb-2" style="font-size:18px; color:#E6EFF4;">Resources</span>
                        <ul class="list-unstyled mt-2">
                            <li>
                                <span class="block pb-1" style="font-size:16px; color:#CCCCCC;">Open Source</span>
                            </li>
                            <li>
                                <span class=" block pb-1" style="font-size:16px; color:#CCCCCC;">Github Discussions</span>
                            </li>
                        </ul>
                    </div>

                    <div class="md:px-4">
                        <span class="mb-2" style="font-size:18px; color:#E6EFF4;">Company</span>
                        <ul class="list-unstyled mt-2">
                            <li>
                                <span class="block pb-1" style="font-size:16px; color:#CCCCCC;">Support</span>
                            </li>
                            <li>
                                <span class=" block pb-1" style="font-size:16px; color:#CCCCCC;">Blog</span>
                            </li>
                            <li>
                                <span class=" block pb-1" style="font-size:16px; color:#CCCCCC;">FQA</span>
                            </li>
                        </ul>
                    </div>

                    <div class="md:px-4">
                        <span class="mb-2" style="font-size:18px; color:#E6EFF4;">Legal</span>
                        <ul class="list-unstyled mt-2">
                            <li>
                                <span class="block pb-1" style="font-size:16px; color:#CCCCCC;">Terms of Condtions</span>
                            </li>
                            <li>
                                <span class=" block pb-1" style="font-size:16px; color:#CCCCCC;">Privacy Policy</span>
                            </li>
                            <li>
                                <span class=" block pb-1" style="font-size:16px; color:#CCCCCC;">Privacy Settings</span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <hr class="my-2" style="border-color:darkgray">
        <div class="flex mb-2 flex-wrap items-center md:justify-between justify-center">
            <div class="w-full md:w-4/12 px-4 mx-auto text-center">
                <div class="text-md text-white py-1">
                    Unilake<span class="ms-1">&copy; 2023</span>
                </div>
            </div>
        </div>

    </div>
</footer>

<script type="module">
    //TODO: Replace with local and production URLs of CreatorKit .NET App or Remove if not using CreatorKit
    @{
        var components = HostContext.DebugMode ? "https://localhost:5001/mjs/components" : "https://creatorkit.netcore.io/mjs/components";
    }
        import { mail } from '@components/mail.mjs'
    import { post } from '@components/post.mjs'

    mail('[data-mail]', {
        mailingLists: ['MonthlyNewsletter']
    })

    post('[data-post]', {
        commentLink: {
            href: '/community-rules',
            label: 'read the community rules'
        }
    })
</script>
