<!-- Footer container -->
<div>
    <footer class="bg-neutral-100 text-center text-neutral-600 dark:bg-neutral-600 dark:text-neutral-200 lg:text-left">
        <div class="flex  items-center justify-center border-b-2 border-neutral-200 p-6 dark:border-neutral-500 lg:justify-between ">


            <!-- Main container div: holds the entire content of the footer, including four sections (TW elements, Products, Useful links, and Contact), with responsive styling and appropriate padding/margins. -->
            <div class="mx-6 py-10 text-center md:text-left">
                <div class="mx-6 py-10 text-center md:text-left">
                    <div class="grid-1 grid gap-8 grid-cols-6">

                        <!-- TW elements section -->
                        <div class="text-left">
                            <h6 class="mb-4 flex items-center justify-center font-semibold uppercase md:justify-start">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 24 24"
                                     fill="currentColor"
                                     class="mr-3 h-4 w-4">
                                    <path d="M12.378 1.602a.75.75 0 00-.756 0L3 6.632l9 5.25 9-5.25-8.622-5.03zM21.75 7.93l-9 5.25v9l8.628-5.032a.75.75 0 00.372-.648V7.93zM11.25 22.18v-9l-9-5.25v8.57a.75.75 0 00.372.648l8.628 5.033z" />
                                </svg>
                                TW elements
                            </h6>
                            <p>
                                Here you can use rows and columns to organize your footer
                                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit.
                            </p>
                        </div>

                        <!-- Products section -->
                        <div class="">
                            <h6 class="mb-4 flex font-semibold">
                                Products
                            </h6>
                            <p class="mb-4">
                                <a href="#!" class="text-neutral-600 dark:text-neutral-200">Lakehouse</a>
                            </p>
                            <p class="mb-4">
                                <a href="#!" class="text-neutral-600 dark:text-neutral-200">Unified Security</a>
                            </p>
                            <p class="mb-4">
                                <a href="#!" class="text-neutral-600 dark:text-neutral-200">Datalake</a>
                            </p>
                            <p>
                                <a href="#!" class="text-neutral-600 dark:text-neutral-200">Integration</a>
                            </p>
                            <p>
                                <a href="#!" class="text-neutral-600 dark:text-neutral-200">Discovery</a>
                            </p>
                            <p>
                                <a href="#!" class="text-neutral-600 dark:text-neutral-200">AI/ML</a>
                            </p>
                        </div>

                        <!-- Products section -->
                        <div class="">
                            <h6 class="mb-4 flex font-semibold">
                                Developers
                            </h6>
                            <p class="mb-4">
                                <a href="#!" class="text-neutral-600 dark:text-neutral-200">Documentation</a>
                            </p>
                            <p class="mb-4">
                                <a href="#!" class="text-neutral-600 dark:text-neutral-200">Integration</a>
                            </p>
                            <p class="mb-4">
                                <a href="#!" class="text-neutral-600 dark:text-neutral-200">Changelog</a>
                            </p>
                            <p>
                                <a href="#!" class="text-neutral-600 dark:text-neutral-200">Community</a>
                            </p>
                        </div>

                        <!-- Products section -->
                        <div class="">
                            <h6 class="mb-4 flex font-semibold">
                                Resources
                            </h6>
                            <p class="mb-4">
                                <a href="#!" class="text-neutral-600 dark:text-neutral-200">open source</a>
                            </p>
                            <p class="mb-4">
                                <a href="#!" class="text-neutral-600 dark:text-neutral-200">Github Discussions</a>
                            </p>
                        </div>

                        <!-- Useful links section -->
                        <div class="">
                            <h6 class="mb-4 flex font-semibold">
                                Company
                            </h6>
                            <p class="mb-4">
                                <a href="#!" class="text-neutral-600 dark:text-neutral-200">Support</a>
                            </p>
                            <p class="mb-4">
                                <a href="#!" class="text-neutral-600 dark:text-neutral-200">Blog</a>
                            </p>
                            <p class="mb-4">
                                <a href="#!" class="text-neutral-600 dark:text-neutral-200">FAQ</a>
                            </p>

                        </div>

                        <div class="">
                            <h6 class="mb-4 flex font-semibold">
                                Legal
                            </h6>
                            <p class="mb-4">
                                <a href="#!" class="text-neutral-600 dark:text-neutral-200">Terms of Condtions</a>
                            </p>
                            <p class="mb-4">
                                <a href="#!" class="text-neutral-600 dark:text-neutral-200">Privacy Policy</a>
                            </p>
                            <p class="mb-4">
                                <a href="#!" class="text-neutral-600 dark:text-neutral-200">Privacy Settings</a>
                            </p>

                        </div>

                    </div>


    </footer>
</div>

<script type="module">
    //TODO: Replace with local and production URLs of CreatorKit .NET App or Remove if not using CreatorKit
    @{
        var components = HostContext.DebugMode ? "https://localhost:5001/mjs/components" : "https://creatorkit.netcore.io/mjs/components";
    }
    import { mail } from '@components/mail.mjs'
    import { post } from '@components/post.mjs'

    mail('[data-mail]', {
        mailingLists: ['MonthlyNewsletter']
    })

    post('[data-post]', {
        commentLink: {
            href: '/community-rules',
            label: 'read the community rules'
        }
    })
</script>
