<div class="grid grid-cols-1 gap-[8px] place-content-center py-[64px] px-[240px] bg-backgroundTertiary border-b border-borderSecondary">
    <div>
        <h1 class="mx-auto text-H3 text-center text-textPrimary">Join Our Newsletter</h1>
        <h4 class="mx-auto  text-H5 text-center text-textSecondary">Be among the first ones to receive our latest news and offers</h4>
    </div>
    <div class="w-full mx-auto rounded-M grid grid-cols-3 gap-M p-M bg-backgroundSecondary">
        <div class="col-span-2">
            <input type="email" placeholder="Email" class="w-full border-borderPrimary rounded-S bg-transparent px-[16px] py-[8px]">
        </div>
        <button class="bg-brandPrimary text-onBrandPrimary col-span-1 px-L py-SM rounded-L">Subscribe</button>
    </div>
    <h1 class="mx-auto text-[#6F6E73]">You can easily unsubscribe at any time.</h1>
</div>