@page "/blog"
@attribute [RenderStatic]
@inject MarkdownBlog Blog
@{
    ViewData["Title"] = "Unilake.Www Blog";
}

<div class="md:px-[160px] px-L md:py-[240px] py-[80px] bg-backgroundSecondary mx-auto grid grid-cols-1 md:gap-XXL gap-XL">
    @{

        <div class="flex flex-col gap-M">
            <span class="text-H3 text-brandPrimary">Blog</span>
            <span class="text-H3 text-textSecondary">Description</span>
        </div>

        <div class="grid grid-cols-1 gap-XL">
            <div class="relative w-full">
                <span class="absolute inset-y-0 left-0 flex items-center py-[13px] pl-[12px]">
                    <svg class="h-[17.49px] w-[17.49px] text-textSecondary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </span>

                <input type="text" placeholder="Search" class="placeholder:text-Medium placeholder:text-secondary py-[12px] px-[36px] w-full h-[48px] rounded-L bg-transparent border-borderPrimary border">
            </div>
            <ul class="flex flex-wrap gap-M h-[48px] overflow-hidden">
                <li class="text-Medium border border-borderPrimary text-textPrimary px-L py-SM rounded-L h-[43px]">All</li>
                <li class="text-Medium border border-borderPrimary text-textPrimary px-L py-SM rounded-L h-[43px]">Auth</li>
                <li class="text-Medium border border-borderPrimary text-textPrimary px-L py-SM rounded-L h-[43px]">Catching / Offline-First</li>
                <li class="text-Medium border border-borderPrimary text-textPrimary px-L py-SM rounded-L h-[43px]">Data Platform</li>
                <li class="text-Medium border border-borderPrimary text-textPrimary px-L py-SM rounded-L h-[43px]">DevTools</li>
                <li class="text-Medium border border-borderPrimary text-textPrimary px-L py-SM rounded-L h-[43px]">Forreign Data Wrapper</li>
                <li class="text-Medium border border-borderPrimary text-textPrimary px-L py-SM rounded-L h-[43px]">Low-Code</li>
                <li class="text-Medium border border-borderPrimary text-textPrimary px-L py-SM rounded-L h-[43px]">Messaging</li>
            </ul>
        </div>

        @await Html.PartialAsync("BlogSlider")

            //Blog cards
        <section>
            <div class="mx-auto grid md:gap-XL gap-L md:grid-cols-3">

                <div class="grid grid-cols-1">
                    <div class="flex-shrink-0">
                        <a href="#">
                            <img class="w-full rounded-L border border-borderSecondary object-cover" src="./img/Pic.png" alt="">
                        </a>
                    </div>
                    <div class="mb:col-span-2 p-M grid grid-cols-1 gap-L">
                        <div class="flex flex-grow justify-between">
                            <span class="text-Medium text-textTertiary">31 Dec 2023</span>
                            <span class="text-Medium text-textTertiary">5 min read</span>
                        </div>
                        <p class="text-H5 text-textPrimary">
                            Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                        </p>
                        <a class="" href="about#">
                            <div class="flex items-center gap-S">
                                <span class="text-Medium text-brandPrimary">Read the article</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="relative my-auto h-[16px] w-[16px]" viewBox="0 0 16 17" fill="none">
                                    <path d="M7.99996 3.16663L7.05996 4.10663L10.78 7.83329H2.66663V9.16663H10.78L7.05996 12.8933L7.99996 13.8333L13.3333 8.49996L7.99996 3.16663Z" fill="#F37441" />
                                </svg>
                            </div>
                        </a>
                        <ul class="flex flex-wrap gap-M">
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 1</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 2</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 3</li>
                        </ul>
                    </div>
                </div>

                <div class="grid grid-cols-1">
                    <div class="flex-shrink-0">
                        <a href="#">
                            <img class="w-full rounded-L border border-borderSecondary object-cover" src="./img/Pic2.png" alt="">
                        </a>
                    </div>
                    <div class="mb:col-span-2 p-M grid grid-cols-1 gap-L">
                        <div class="flex flex-grow justify-between">
                            <span class="text-Medium text-textTertiary">31 Dec 2023</span>
                            <span class="text-Medium text-textTertiary">5 min read</span>
                        </div>
                        <p class="text-H5 text-textPrimary">
                            Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                        </p>
                        <a class="" href="about#">
                            <div class="flex items-center gap-S">
                                <span class="text-Medium text-brandPrimary">Read the article</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="relative my-auto h-[16px] w-[16px]" viewBox="0 0 16 17" fill="none">
                                    <path d="M7.99996 3.16663L7.05996 4.10663L10.78 7.83329H2.66663V9.16663H10.78L7.05996 12.8933L7.99996 13.8333L13.3333 8.49996L7.99996 3.16663Z" fill="#F37441" />
                                </svg>
                            </div>
                        </a>
                        <ul class="flex flex-wrap gap-M">
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 1</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 2</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 3</li>
                        </ul>
                    </div>
                </div>

                <div class="grid grid-cols-1">
                    <div class="flex-shrink-0">
                        <a href="#">
                            <img class="w-full rounded-L border border-borderSecondary object-cover" src="./img/Pic3.png" alt="">
                        </a>
                    </div>
                    <div class="mb:col-span-2 p-M grid grid-cols-1 gap-L">
                        <div class="flex flex-grow justify-between">
                            <span class="text-Medium text-textTertiary">31 Dec 2023</span>
                            <span class="text-Medium text-textTertiary">5 min read</span>
                        </div>
                        <p class="text-H5 text-textPrimary">
                            Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                        </p>
                        <a class="" href="about#">
                            <div class="flex items-center gap-S">
                                <span class="text-Medium text-brandPrimary">Read the article</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="relative my-auto h-[16px] w-[16px]" viewBox="0 0 16 17" fill="none">
                                    <path d="M7.99996 3.16663L7.05996 4.10663L10.78 7.83329H2.66663V9.16663H10.78L7.05996 12.8933L7.99996 13.8333L13.3333 8.49996L7.99996 3.16663Z" fill="#F37441" />
                                </svg>
                            </div>
                        </a>
                        <ul class="flex flex-wrap gap-M">
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 1</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 2</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 3</li>
                        </ul>
                    </div>
                </div>

                <div class="grid grid-cols-1">
                    <div class="flex-shrink-0">
                        <a href="#">
                            <img class="w-full rounded-L border border-borderSecondary object-cover" src="./img/Pic4.png" alt="">
                        </a>
                    </div>
                    <div class="mb:col-span-2 p-M grid grid-cols-1 gap-L">
                        <div class="flex flex-grow justify-between">
                            <span class="text-Medium text-textTertiary">31 Dec 2023</span>
                            <span class="text-Medium text-textTertiary">5 min read</span>
                        </div>
                        <p class="text-H5 text-textPrimary">
                            Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                        </p>
                        <a class="" href="about#">
                            <div class="flex items-center gap-S">
                                <span class="text-Medium text-brandPrimary">Read the article</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="relative my-auto h-[16px] w-[16px]" viewBox="0 0 16 17" fill="none">
                                    <path d="M7.99996 3.16663L7.05996 4.10663L10.78 7.83329H2.66663V9.16663H10.78L7.05996 12.8933L7.99996 13.8333L13.3333 8.49996L7.99996 3.16663Z" fill="#F37441" />
                                </svg>
                            </div>
                        </a>
                        <ul class="flex flex-wrap gap-M">
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 1</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 2</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 3</li>
                        </ul>
                    </div>
                </div>

                <div class="grid grid-cols-1">
                    <div class="flex-shrink-0">
                        <a href="#">
                            <img class="w-full rounded-L border border-borderSecondary object-cover" src="./img/Pic5.png" alt="">
                        </a>
                    </div>
                    <div class="mb:col-span-2 p-M grid grid-cols-1 gap-L">
                        <div class="flex flex-grow justify-between">
                            <span class="text-Medium text-textTertiary">31 Dec 2023</span>
                            <span class="text-Medium text-textTertiary">5 min read</span>
                        </div>
                        <p class="text-H5 text-textPrimary">
                            Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                        </p>
                        <a class="" href="about#">
                            <div class="flex items-center gap-S">
                                <span class="text-Medium text-brandPrimary">Read the article</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="relative my-auto h-[16px] w-[16px]" viewBox="0 0 16 17" fill="none">
                                    <path d="M7.99996 3.16663L7.05996 4.10663L10.78 7.83329H2.66663V9.16663H10.78L7.05996 12.8933L7.99996 13.8333L13.3333 8.49996L7.99996 3.16663Z" fill="#F37441" />
                                </svg>
                            </div>
                        </a>
                        <ul class="flex flex-wrap gap-M">
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 1</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 2</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 3</li>
                        </ul>
                    </div>
                </div>

                <div class="grid grid-cols-1">
                    <div class="flex-shrink-0">
                        <a href="#">
                            <img class="w-full rounded-L border border-borderSecondary object-cover" src="./img/Pic6.png" alt="">
                        </a>
                    </div>
                    <div class="mb:col-span-2 p-M grid grid-cols-1 gap-L">
                        <div class="flex flex-grow justify-between">
                            <span class="text-Medium text-textTertiary">31 Dec 2023</span>
                            <span class="text-Medium text-textTertiary">5 min read</span>
                        </div>
                        <p class="text-H5 text-textPrimary">
                            Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                        </p>
                        <a class="" href="about#">
                            <div class="flex items-center gap-S">
                                <span class="text-Medium text-brandPrimary">Read the article</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="relative my-auto h-[16px] w-[16px]" viewBox="0 0 16 17" fill="none">
                                    <path d="M7.99996 3.16663L7.05996 4.10663L10.78 7.83329H2.66663V9.16663H10.78L7.05996 12.8933L7.99996 13.8333L13.3333 8.49996L7.99996 3.16663Z" fill="#F37441" />
                                </svg>
                            </div>
                        </a>
                        <ul class="flex flex-wrap gap-M">
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 1</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 2</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 3</li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>

            //second slider
        <section class="mt-24 flex justify-center md:block hidden">
            <div class="grid grid-cols-2 gap-XXL">
                <div class="mb:col-span-2">
                    <div class="sm:mx-0">
                        <a aria-label="" href="#">
                            <img src="./img/slider-img.png" alt="Cover Image for" class="shadow-sm border border-borderSecondary rounded-L hover:shadow-2xl">
                        </a>
                    </div>
                </div>
                <div class="mb:col-span-2 p-M grid grid-cols-1 gap-L">
                    <div class="flex flex-grow justify-between">
                        <span class="text-Medium text-textTertiary">31 Dec 2023</span>
                        <span class="text-Medium text-textTertiary">5 min read</span>
                    </div>
                    <p class="text-H5 text-textPrimary">
                        Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                    </p>
                    <a class="" href="about#">
                        <div class="flex items-center gap-S">
                            <span class="text-Medium text-brandPrimary">Read the article</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="relative my-auto h-[16px] w-[16px]" viewBox="0 0 16 17" fill="none">
                                <path d="M7.99996 3.16663L7.05996 4.10663L10.78 7.83329H2.66663V9.16663H10.78L7.05996 12.8933L7.99996 13.8333L13.3333 8.49996L7.99996 3.16663Z" fill="#F37441" />
                            </svg>
                        </div>
                    </a>
                    <ul class="flex flex-wrap gap-M">
                        <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 1</li>
                        <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 2</li>
                        <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 3</li>
                    </ul>
                </div>
            </div>
        </section>

            //Blog cards
        <section>
            <div class="mx-auto grid md:gap-XL gap-L md:grid-cols-3">

                <div class="grid grid-cols-1">
                    <div class="flex-shrink-0">
                        <a href="#">
                            <img class="w-full rounded-L border border-borderSecondary object-cover" src="./img/Pic.png" alt="">
                        </a>
                    </div>
                    <div class="mb:col-span-2 p-M grid grid-cols-1 gap-L">
                        <div class="flex flex-grow justify-between">
                            <span class="text-Medium text-textTertiary">31 Dec 2023</span>
                            <span class="text-Medium text-textTertiary">5 min read</span>
                        </div>
                        <p class="text-H5 text-textPrimary">
                            Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                        </p>
                        <a class="" href="about#">
                            <div class="flex items-center gap-S">
                                <span class="text-Medium text-brandPrimary">Read the article</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="relative my-auto h-[16px] w-[16px]" viewBox="0 0 16 17" fill="none">
                                    <path d="M7.99996 3.16663L7.05996 4.10663L10.78 7.83329H2.66663V9.16663H10.78L7.05996 12.8933L7.99996 13.8333L13.3333 8.49996L7.99996 3.16663Z" fill="#F37441" />
                                </svg>
                            </div>
                        </a>
                        <ul class="flex flex-wrap gap-M">
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 1</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 2</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 3</li>
                        </ul>
                    </div>
                </div>

                <div class="grid grid-cols-1">
                    <div class="flex-shrink-0">
                        <a href="#">
                            <img class="w-full rounded-L border border-borderSecondary object-cover" src="./img/Pic2.png" alt="">
                        </a>
                    </div>
                    <div class="mb:col-span-2 p-M grid grid-cols-1 gap-L">
                        <div class="flex flex-grow justify-between">
                            <span class="text-Medium text-textTertiary">31 Dec 2023</span>
                            <span class="text-Medium text-textTertiary">5 min read</span>
                        </div>
                        <p class="text-H5 text-textPrimary">
                            Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                        </p>
                        <a class="" href="about#">
                            <div class="flex items-center gap-S">
                                <span class="text-Medium text-brandPrimary">Read the article</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="relative my-auto h-[16px] w-[16px]" viewBox="0 0 16 17" fill="none">
                                    <path d="M7.99996 3.16663L7.05996 4.10663L10.78 7.83329H2.66663V9.16663H10.78L7.05996 12.8933L7.99996 13.8333L13.3333 8.49996L7.99996 3.16663Z" fill="#F37441" />
                                </svg>
                            </div>
                        </a>
                        <ul class="flex flex-wrap gap-M">
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 1</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 2</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 3</li>
                        </ul>
                    </div>
                </div>

                <div class="grid grid-cols-1">
                    <div class="flex-shrink-0">
                        <a href="#">
                            <img class="w-full rounded-L border border-borderSecondary object-cover" src="./img/Pic3.png" alt="">
                        </a>
                    </div>
                    <div class="mb:col-span-2 p-M grid grid-cols-1 gap-L">
                        <div class="flex flex-grow justify-between">
                            <span class="text-Medium text-textTertiary">31 Dec 2023</span>
                            <span class="text-Medium text-textTertiary">5 min read</span>
                        </div>
                        <p class="text-H5 text-textPrimary">
                            Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                        </p>
                        <a class="" href="about#">
                            <div class="flex items-center gap-S">
                                <span class="text-Medium text-brandPrimary">Read the article</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="relative my-auto h-[16px] w-[16px]" viewBox="0 0 16 17" fill="none">
                                    <path d="M7.99996 3.16663L7.05996 4.10663L10.78 7.83329H2.66663V9.16663H10.78L7.05996 12.8933L7.99996 13.8333L13.3333 8.49996L7.99996 3.16663Z" fill="#F37441" />
                                </svg>
                            </div>
                        </a>
                        <ul class="flex flex-wrap gap-M">
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 1</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 2</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 3</li>
                        </ul>
                    </div>
                </div>

                <div class="grid grid-cols-1">
                    <div class="flex-shrink-0">
                        <a href="#">
                            <img class="w-full rounded-L border border-borderSecondary object-cover" src="./img/Pic4.png" alt="">
                        </a>
                    </div>
                    <div class="mb:col-span-2 p-M grid grid-cols-1 gap-L">
                        <div class="flex flex-grow justify-between">
                            <span class="text-Medium text-textTertiary">31 Dec 2023</span>
                            <span class="text-Medium text-textTertiary">5 min read</span>
                        </div>
                        <p class="text-H5 text-textPrimary">
                            Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                        </p>
                        <a class="" href="about#">
                            <div class="flex items-center gap-S">
                                <span class="text-Medium text-brandPrimary">Read the article</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="relative my-auto h-[16px] w-[16px]" viewBox="0 0 16 17" fill="none">
                                    <path d="M7.99996 3.16663L7.05996 4.10663L10.78 7.83329H2.66663V9.16663H10.78L7.05996 12.8933L7.99996 13.8333L13.3333 8.49996L7.99996 3.16663Z" fill="#F37441" />
                                </svg>
                            </div>
                        </a>
                        <ul class="flex flex-wrap gap-M">
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 1</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 2</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 3</li>
                        </ul>
                    </div>
                </div>

                <div class="grid grid-cols-1">
                    <div class="flex-shrink-0">
                        <a href="#">
                            <img class="w-full rounded-L border border-borderSecondary object-cover" src="./img/Pic5.png" alt="">
                        </a>
                    </div>
                    <div class="mb:col-span-2 p-M grid grid-cols-1 gap-L">
                        <div class="flex flex-grow justify-between">
                            <span class="text-Medium text-textTertiary">31 Dec 2023</span>
                            <span class="text-Medium text-textTertiary">5 min read</span>
                        </div>
                        <p class="text-H5 text-textPrimary">
                            Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                        </p>
                        <a class="" href="about#">
                            <div class="flex items-center gap-S">
                                <span class="text-Medium text-brandPrimary">Read the article</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="relative my-auto h-[16px] w-[16px]" viewBox="0 0 16 17" fill="none">
                                    <path d="M7.99996 3.16663L7.05996 4.10663L10.78 7.83329H2.66663V9.16663H10.78L7.05996 12.8933L7.99996 13.8333L13.3333 8.49996L7.99996 3.16663Z" fill="#F37441" />
                                </svg>
                            </div>
                        </a>
                        <ul class="flex flex-wrap gap-M">
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 1</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 2</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 3</li>
                        </ul>
                    </div>
                </div>

                <div class="grid grid-cols-1">
                    <div class="flex-shrink-0">
                        <a href="#">
                            <img class="w-full rounded-L border border-borderSecondary object-cover" src="./img/Pic6.png" alt="">
                        </a>
                    </div>
                    <div class="mb:col-span-2 p-M grid grid-cols-1 gap-L">
                        <div class="flex flex-grow justify-between">
                            <span class="text-Medium text-textTertiary">31 Dec 2023</span>
                            <span class="text-Medium text-textTertiary">5 min read</span>
                        </div>
                        <p class="text-H5 text-textPrimary">
                            Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                        </p>
                        <a class="" href="about#">
                            <div class="flex items-center gap-S">
                                <span class="text-Medium text-brandPrimary">Read the article</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="relative my-auto h-[16px] w-[16px]" viewBox="0 0 16 17" fill="none">
                                    <path d="M7.99996 3.16663L7.05996 4.10663L10.78 7.83329H2.66663V9.16663H10.78L7.05996 12.8933L7.99996 13.8333L13.3333 8.49996L7.99996 3.16663Z" fill="#F37441" />
                                </svg>
                            </div>
                        </a>
                        <ul class="flex flex-wrap gap-M">
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 1</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 2</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L">Tag 3</li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>

            //pagination
        <div class="flex items-center justify-center gap-[16px]">

            <a href="#" class="text-textPrimary">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M15.41 16.59L10.83 12L15.41 7.41L14 6L8 12L14 18L15.41 16.59Z" fill="#E6EFF4" />
                </svg>
            </a>

            <a href="#" class="px-[8px] py-[8px] border rounded-[4px] text-Regular text-#F9F9F7">1</a>
            <a href="#" class="px-[8px] py-[8px] text-Regular text-#F9F9F7">2</a>
            <a href="#" class="px-[8px] py-[8px] text-Regular text-#F9F9F7">3</a>
            <a href="#" class="px-[8px] py-[8px] text-Regular text-#F9F9F7">4</a>
            <a href="#" class="px-[8px] py-[8px] text-Regular text-#F9F9F7">5</a>

            <a href="#" class="text-textPrimary">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M8.59003 16.59L13.17 12L8.59003 7.41L10 6L16 12L10 18L8.59003 16.59Z" fill="#E6EFF4" />
                </svg>
            </a>
        </div>


    }
</div>

@{
    //subscribe
    @await Html.PartialAsync("Subscribe")
}
